@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{

                <table>
                    <thead>
                        <td>
                            FirstName
                        </td>
                        <td>
                            LastName
                        </td>
                        <td>
                            Username
                        </td>
                    </thead>
                    <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Salary
                    </td>
                    </tr>
                </table>
            }

    </p>